if resume.basics.summary
  .detail#about
    .icon
      i.fa.fa-lg.fa-user
      span.mobile-title About
    .info
      h4.title.text-uppercase About

      .content(itemprop="description")= resume.basics.summary
