section.col-md-9.card-wrapper.pull-right
  .card.background-card
    h4.text-uppercase Background
    hr

    .background-details
      include background/about
      include background/work-experience
      include background/skills
      include background/education
      include background/awards
      include background/volunteer-work
      include background/publications
      include background/interests
      include background/references
