<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{bio.firstName}} {{bio.lastName}}</title>
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<style>
			body {
				font-family: 'Lato';
				background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/snow.png");
			}

			.oswald-font {
				font-family: 'oswald';
				vertical-align: bottom;
			}

			.name {
				text-transform: uppercase;
			}
			
			a:hover {
				text-decoration: none;
			}
			
			.link-github {
				color: #454545;
			}
			
			.link-github:hover {
				color: black;
			}
			
			.link-twitter {
				color: #33CCFF;
			}
			
			.social-link {
				margin-left: 5px;
			}
			
			.social-link:first-child {
				margin-left: 0;
			}
			
			.link-blog {
				color: rgb(243, 111, 36);
			}
			
			.link-blog:hover {
				color: rgb(211, 97, 32);
			}
			
			.summary {
				font-family: "Pt mono";
				font-size: 1.2em;
			}
			
			.wip {
				position: absolute;
				right: 0;
			}
			
			.company h3 {
				margin-top: 0;
			}
		</style>
	</head>
	
	<body>
		<div class="container">

			<div class="col-md-10 col-md-offset-1">

				<div class="col-md-2">
        				<img class="media-object img-circle pull-right" 
							data-src="holder.js/64x64" alt="64x64" src="{{bio.gravatar}}"
							style="width: 150px; height: 150px;">
				</div>
				<div class="col-md-10">
					<a class="btn btn-warning wip" href="https://github.com/mudassir0909/jsonresume-theme-elegant" target="_blank">
						<span class="fa fa-github fa-lg"></span>
						Work in progress
					</a>			
					<h1 class="name oswald-font">{{bio.firstName}} {{bio.lastName}}</h1>
					<hr>
					<p class="location text col-md-6">
						<span class="fa fa-location-arrow"></span>
						{{bio.location.city}}, {{bio.location.state}}, {{bio.location.countryCode}}
						<br>
						<span class="social-links-wrapper">
							<a class="fa fa-github fa-2x social-link link-github" 
								href="http://www.github.com/{{bio.profiles.github}}" target="_blank"></a>
							<a class="fa fa-twitter fa-2x social-link link-twitter" 
								href="http://www.twitter.com/{{bio.profiles.twitter}}" target="_blank"></a>
							<a class="fa fa-rss fa-2x social-link link-blog" 
								href="{{bio.websites.blog}}" target="_blank"></a>
						</span>
					</p>
					<p class="location text-right col-md-6">
						<span class="fa fa-envelope"></span>
						{{bio.email.personal}}
						<br>
						<span class="fa fa-phone"></span>
						{{bio.phone.personal}}
					</p>
				</div>
				<div class="col-md-12">
					<hr>
					<p class="summary">
						<sup class="fa fa-quote-left"></sup>
						{{bio.summary}}
						<sup class="fa fa-quote-right"></sup>
					</p>
				</div>
				<div class="col-md-12">
					<h2 class="oswald-font"><span class="fa fa-building-o"></span>&nbsp; Work Experience</h3>
					<hr>
					<div class="col-md-10 col-md-offset-1">
						{{#work}}
							<div class="company">
								<h3>
									<span>{{position}}</span> 
									<span class="pull-right">( {{startDate}} - {{endDate}} )</span>
								</h3>
								<h4>
									<a target="_blank" href="{{website}}">
										@{{company}} 
									</a>
								</h4>
								<p class="text-muted">{{summary}}</p>
							</div>
							<ul>
            					{{#highlights}}
								<li>{{.}}</li>
              					{{/highlights}}
							</ul>
							<hr>
						{{/work}}
					</div>
				</div>
			</div>
		</div>

		<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>		
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	</body>
</html>