<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- link rel="shortcut icon" href="favicon.ico" / -->
    <style>
      {{{css}}}
    </style>
  </head>

  <body itemscope itemtype="http://schema.org/Person">
    <script>
      window.onload = function () {
        var toggleFloatingMenu = function() {
          $( '.js-floating-nav' ).toggleClass( 'is-visible' );
          $( '.js-floating-nav-trigger' ).toggleClass( 'is-open' );
        };

        $( ".background-card" ).css( "min-height", window.screen.availHeight + "px" );
        $( "[rel=tooltip]" ).tooltip();
        $( '.js-floating-nav-trigger' ).on( 'click', function(e) {
          e.preventDefault();
          toggleFloatingMenu();
        });
        $( '.js-floating-nav a' ).on( 'click', toggleFloatingMenu );
      }
    </script>
    <div class="container-fluid">
      <div class="row main clearfix">
        <a href="#" class="js-floating-nav-trigger floating-nav-trigger">
          <i class="fa fa-bars"></i>
          <span class="close-icon">&times;</span>
        </a>
        <nav class="floating-nav js-floating-nav">
          <ul class="list-unstyled">
            <li>
              <a href="#about">
                <i class="fa fa-user"></i>
                About
              </a>
            </li>
            <li>
              <a href="#work-experience">
                <i class="fa fa-building"></i>
                Work Experience
              </a>
            </li>
            <li>
              <a href="#skills">
                <i class="fa fa-code"></i>
                Skills
              </a>
            </li>
            <li>
              <a href="#education">
                <i class="fa fa-mortar-board"></i>
                Education
              </a>
            </li>
            {{#if resume.awards}}
              <li>
                <a href="#awards">
                  <i class="fa fa-trophy"></i>
                  Awards
                </a>
              </li>
            {{/if}}
            {{#if resume.volunteer}}
              <li>
                <a href="#volunteer-work">
                  <i class="fa fa-child"></i>
                  Volunteer Work
                </a>
              </li>
            {{/if}}
            {{#if resume.publications}}
              <li>
                <a href="#publications">
                  <i class="fa fa-book"></i>
                  Publications
                </a>
              </li>
            {{/if}}
            {{#if resume.interests}}
              <li>
                <a href="#interests">
                  <i class="fa fa-heart"></i>
                  Interests
                </a>
              </li>
            {{/if}}
            {{#if resume.references}}
              <li>
                <a href="#references">
                  <i class="fa fa-thumbs-up"></i>
                  References
                </a>
              </li>
            {{/if}}
          </ul>
        </nav>

        <section class="col-md-3 card-wrapper profile-card-wrapper affix">
          <div class="card profile-card">
            {{#resume.basics}}
              <span class="profile-pic-container">
                <div class="profile-pic">
                  <img class="media-object img-circle center-block"  data-src="holder.js/100x100"
                    alt="{{name}}" src="{{picture}}" itemprop="image">
                </div>

                <div class="name-and-profession">
                  <h3 class="text-center text-bolder name" itemprop="name"> {{name}}</h3>
                  <h5 class="text-muted text-center" itemprop="jobTitle">{{label}}</h5>
                </div>
              </span>
              <hr>

              <div class="contact-details clearfix">

                {{#if location}}
                  <div class="detail">
                    <span class="icon">
                      <i class="fa fa-lg fa-location-arrow"></i>
                    </span>

                    {{#location}}
                      <span class="info">
                        {{city}}, {{region}},
                        {{countryCode}}
                      </span>
                    {{/location}}
                  </div>
                {{/if}}

                {{#if phone}}
                  <div class="detail">
                    <span class="icon">
                      <i class="fa fa-lg fa-phone"></i>
                    </span>

                    <span class="info" itemprop="telephone">
                      {{phone}}
                    </span>
                  </div>
                {{/if}}

                {{#if email}}
                  <div class="detail">
                    <span class="icon">
                      <i class="fa fa-lg fa-envelope"></i>
                    </span>

                    <span class="info">
                      <a href="mailto:{{email}}" class="link-disguise" itemprop="email">{{email}}</a>
                    </span>
                  </div>
                {{/if}}

                {{#if languages}}
                  <div class="detail">
                    <span class="icon" title="Languages I speak">
                      <i class="fa fa-lg fa-language"></i>
                    </span>

                    <span class="info">
                      {{languages}}
                    </span>
                  </div>
                {{/if}}
              </div>

              <hr>

              <div class="social-links text-center">
                {{#if linkedin_url}}
                  <a class="fa fa-linkedin fa-2x social-link link-linkedin"
                       href="{{linkedin_url}}" target="_blank"></a>
                {{/if}}
                {{#if github_url}}
                  <a class="fa fa-github fa-2x social-link link-github"
                       href="{{github_url}}" target="_blank"></a>
                {{/if}}
                {{#if bitbucket_url}}
                  <a class="fa fa-bitbucket fa-2x social-link link-bitbucket" href="{{bitbucket_url}}" target="_blank"></a>
                {{/if}}
                {{#if gratipay_url}}
                  <a class="fa fa-gratipay fa-2x social-link link-gratipay"
                       href="{{gratipay_url}}" target="_blank"></a>
                {{/if}}
                {{#if stackoverflow_url}}
                  <a class="fa fa-stack-overflow fa-2x social-link link-stackoverflow"
                       href="{{stackoverflow_url}}" target="_blank"></a>
                {{/if}}
                {{#if codepen_url}}
                  <a class="fa fa-codepen fa-2x social-link link-codepen" href="{{codepen_url}}" target="_blank"></a>
                {{/if}}
                {{#if skype_url}}
                  <a class="fa fa-skype fa-2x social-link link-skype"
                       href="{{skype_url}}" target="_blank"></a>
                {{/if}}
                {{#if twitter_url}}
                  <a class="fa fa-twitter fa-2x social-link link-twitter"
                       href="{{twitter_url}}" target="_blank"></a>
                {{/if}}
                {{#if facebook_url}}
                  <a class="fa fa-facebook-square fa-2x social-link link-facebook" href="{{facebook_url}}" target="_blank"></a>
                {{/if}}
                {{#if youtube_url}}
                  <a class="fa fa-youtube fa-2x social-link link-youtube" href="{{youtube_url}}" target="_blank"></a>
                {{/if}}
                {{#if soundcloud_url}}
                  <a class="fa fa-soundcloud fa-2x social-link link-soundcloud"
                       href="{{soundcloud_url}}" target="_blank"></a>
                {{/if}}
                {{#if googleplus_url}}
                  <a class="fa fa-google-plus-square fa-2x social-link link-googleplus" href="{{googleplus_url}}" target="_blank"></a>
                {{/if}}
                {{#if website}}
                  <a class="fa fa-rss fa-2x social-link link-blog"
                       href="{{website}}" target="_blank"></a>
                {{/if}}
                {{#if pinterest_url}}
                  <a class="fa fa-pinterest fa-2x social-link link-pinterest" href="{{pinterest_url}}" target="_blank"></a>
                {{/if}}
                {{#if vimeo_url}}
                  <a class="fa fa-vimeo-square fa-2x social-link link-vimeo" href="{{vimeo_url}}" target="_blank"></a>
                {{/if}}
                {{#if behance_url}}
                  <a class="fa fa-behance fa-2x social-link link-behance" href="{{behance_url}}" target="_blank"></a>
                {{/if}}
                {{#if foursquare_url}}
                  <a class="fa fa-foursquare fa-2x social-link link-foursquare" href="{{foursquare_url}}" target="_blank"></a>
                {{/if}}
                {{#if reddit_url}}
                  <a class="fa fa-reddit fa-2x social-link link-reddit" href="{{reddit_url}}" target="_blank"></a>
                {{/if}}
                {{#if spotify_url}}
                  <a class="fa fa-spotify fa-2x social-link link-spotify" href="{{spotify_url}}" target="_blank"></a>
                {{/if}}
                {{#if tumblr_url}}
                  <a class="fa fa-tumblr-square fa-2x social-link link-tumblr" href="{{tumblr_url}}" target="_blank"></a>
                {{/if}}
                {{#if dribble_url}}
                  <a class="fa fa-dribble fa-2x social-link link-dribbble" href="{{dribble_url}}" target="_blank"></a>
                {{/if}}
                {{#if dribbble_url}}
                  <a class="fa fa-dribbble fa-2x social-link link-dribbble" href="{{dribbble_url}}" target="_blank"></a>
                {{/if}}
                {{#if angellist_url}}
                  <a class="fa fa-angellist fa-2x social-link link-angellist" href="{{angellist_url}}" target="_blank"></a>
                {{/if}}
              </div>
            {{/resume.basics}}
          </div>
        </section>

        <section class="col-md-9 card-wrapper pull-right">
          <div class="card background-card">
            <h4 class="text-uppercase text-bolder">Background</h4>
            <hr>

            <div class="background-details">
              <div class="detail" id="about">
                <div class="icon">
                  <i class="fa fa-lg fa-user"></i>
                  <span class="mobile-title">About</span>
                </div>
                <div class="info">
                  <h4 class="title text-uppercase">
                    About
                  </h4>

                  <div class="content" itemprop="description">
                    {{resume.basics.summary}}
                  </div>
                </div>
              </div>

              <div class="detail" id="work-experience">
                <div class="icon">
                  <i class="fa fa-lg fa-building"></i>
                  <span class="mobile-title">Work Experience</span>
                </div>
                <div class="info">
                  <h4 class="title text-uppercase">
                    Work Experience
                  </h4>

                  <ul class="list-unstyled">
                    {{#each resume.work}}
                      <li class="card card-nested clearfix">
                        <div class="content">
                          <p class="clear-margin relative">
                            {{#unless endDate}}
                              <i class="fa fa-circle current-event"
                                 rel="tooltip" title="Currently Working" data-placement="left"></i>
                            {{/unless}}
                            <strong>{{position}}</strong>,&nbsp;
                            {{#if website}}
                              <a href="{{website}}"  target="_blank">{{company}}</a>
                            {{else}}
                              {{company}}
                            {{/if}}
                          </p>
                          <p class="text-muted">
                            <small>
                              <span class="space-right">
                                {{startDate}} -
                                {{#if endDate}}
                                  {{endDate}}
                                {{else}}
                                  Present
                                {{/if}}
                              </span>

                              {{#if duration}}
                                <span>
                                  <i class="fa fa-clock-o icon-left"></i>
                                  {{duration}}
                                </span>
                              {{/if}}
                            </small>
                          </p>
                          <p>{{summary}}</p>
                          {{#if highlights}}
                            <ul>
                              {{#each highlights}}
                                <li> {{.}} </li>
                              {{/each}}
                            </ul>
                          {{/if}}
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>

              <div class="detail" id="skills">
                <div class="icon">
                  <i class="fa fa-lg fa-code"></i>
                  <span class="mobile-title">Skills</span>
                </div>
                <div class="info">
                  <h4 class="title text-uppercase">
                    Skills
                  </h4>

                  <div class="content">
                    <ul class="list-unstyled">
                      {{#each resume.skills}}
                        <li class="card card-nested card-skills">
                          {{#if display_progress_bar}}
                            <div class="skill-level" rel="tooltip" title="{{level}}" data-placement="left">
                              <div class="skill-progress {{skill_class}}">
                              </div>
                            </div>
                          {{/if}}
                          <div class="skill-info">
                            <strong>{{name}}</strong>

                            <div class="space-top labels">
                              {{#keywords}}
                                <span class="label label-keyword">{{.}}</span>
                              {{/keywords}}
                            </div>
                          </div>
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>

              <div class="detail" id="education">
                <div class="icon">
                  <i class="fa fa-lg fa-mortar-board"></i>
                  <span class="mobile-title">Education</span>
                </div>
                <div class="info">
                  <h4 class="title text-uppercase">
                    Education
                  </h4>

                  <div class="content">
                    <ul class="list-unstyled">
                      {{#each resume.education}}
                        <li class="card card-nested">
                          <div class="content">
                            <p class="clear-margin relative">
                              {{#unless endDate}}
                                <i class="fa fa-circle current-event"
                                   rel="tooltip" title="Currently Pursuing" data-placement="left"></i>
                              {{/unless}}

                              <strong>{{area}}, {{studyType}}</strong>,&nbsp;
                              {{institution}}
                            </p>
                            <p class="text-muted">
                              <small>
                                {{startDate}} -
                                {{#if endDate}}
                                  {{endDate}}
                                {{else}}
                                  Present
                                {{/if}}
                              </small>
                            </p>
                            <i>{{gpa}}</i>
                            <div class="space-top labels">
                              {{#courses}}
                                <span class="label label-keyword">{{.}}</span>
                              {{/courses}}
                            </div>
                          </div>
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>

              {{#if resume.awards}}
                <div class="detail" id="awards">
                  <div class="icon">
                    <i class="fa fa-lg fa-trophy"></i>
                    <span class="mobile-title">Awards</span>
                  </div>
                  <div class="info">
                    <h4 class="title text-uppercase">
                      Awards
                    </h4>

                    <div class="content">
                      <ul class="list-unstyled">
                        {{#each resume.awards}}
                          <li class="card card-nested">
                            <div class="content">
                              <p class="clear-margin" itemprop="award">
                                <strong>{{title}}</strong>,&nbsp;
                                {{awarder}}
                              </p>
                              <p class="text-muted">
                                <small>
                                  Awarded on: {{date}}
                                </small>
                              </p>
                              <p class="clear-margin"> {{summary}} </p>
                            </div>
                          </li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                </div>
              {{/if}}

              {{#if resume.volunteer}}
                <div class="detail" id="volunteer-work">
                  <div class="icon">
                    <i class="fa fa-lg fa-child"></i>
                    <span class="mobile-title">Volunteer Work</span>
                  </div>
                  <div class="info">
                    <h4 class="title text-uppercase">
                      Volunteer Work
                    </h4>

                    <div class="content">
                      <ul class="list-unstyled">
                        {{#each resume.volunteer}}
                          <li class="card card-nested">
                            <div class="content">
                              <p class="clear-margin relative">
                                {{#unless endDate}}
                                  <i class="fa fa-circle current-event"
                                     rel="tooltip" title="Currently Volunteering" data-placement="left"></i>
                                {{/unless}}

                                <strong>{{position}}</strong>,&nbsp;
                                {{#if website}}
                                  <a href="{{website}}"  target="_blank">{{organization}}</a>
                                {{else}}
                                  {{organization}}
                                {{/if}}
                              </p>
                              <p class="text-muted">
                                <small>
                                  {{startDate}} -
                                  {{#if endDate}}
                                    {{endDate}}
                                  {{else}}
                                    Present
                                  {{/if}}
                                </small>
                              </p>
                              <p>{{summary}}</p>
                              <ul>
                                {{#each highlights}}
                                  <li> {{.}} </li>
                                {{/each}}
                              </ul>
                            </div>
                          </li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                </div>
              {{/if}}

              {{#if resume.publications}}
                <div class="detail" id="publications">
                  <div class="icon">
                    <i class="fa fa-lg fa-book"></i>
                    <span class="mobile-title">Publications</span>
                  </div>
                  <div class="info">
                    <h4 class="title text-uppercase">
                      Publications
                    </h4>

                    <div class="content">
                      <ul class="list-unstyled">
                        {{#each resume.publications}}
                          <li class="card card-nested">
                            <div class="content">
                              <p class="clear-margin">
                                <strong>
                                  {{#if website}}
                                    <a href="{{website}}"  target="_blank">{{name}}</a>
                                  {{else}}
                                    {{name}}
                                  {{/if}}
                                </strong>,&nbsp;
                                {{publisher}}
                              </p>
                              <p class="text-muted">
                                <small>
                                  Published on: {{releaseDate}}
                                </small>
                              </p>
                              <p class="clear-margin">{{summary}}</p>
                            </div>
                          </li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                </div>
              {{/if}}

              {{#if resume.interests}}
                <div class="detail" id="interests">
                  <div class="icon">
                    <i class="fa fa-lg fa-heart"></i>
                    <span class="mobile-title">Interests</span>
                  </div>
                  <div class="info">
                    <h4 class="title text-uppercase">
                      Interests
                    </h4>

                    <div class="content">
                      <ul class="list-unstyled">
                        {{#each resume.interests}}
                          <li class="card card-nested">
                            <p>
                              <strong>{{name}}</strong>
                            </p>

                            <div class="space-top labels">
                              {{#keywords}}
                                <span class="label label-keyword">{{.}}</span>
                              {{/keywords}}
                            </div>
                          </li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                </div>
              {{/if}}

              {{#if resume.references}}
                <div class="detail" id="references">
                  <div class="icon">
                    <i class="fa fa-lg fa-thumbs-up"></i>
                    <span class="mobile-title">References</span>
                  </div>
                  <div class="info">
                    <h4 class="title text-uppercase">
                      References
                    </h4>

                    <div class="content">
                      <ul class="list-unstyled">
                        {{#each resume.references}}
                          <li class="card card-nested">
                            <p>
                              <strong>{{name}}</strong>
                            </p>
                            <blockquote class="quote">
                              <p class="clear-margin">{{reference}}</p>
                            </blockquote>
                          </li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                </div>
              {{/if}}

            </div>
          </div>
        </section>
      </div>
    </div>

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/tooltip.js"></script>
  </body>
</html>
