body {
	font-family: 'Lato';
	background: #F0F0F0;
	color: #333;
}

.main {
	padding: 5px;
}

.card {
	background: white;
	border: 1px solid #E6E6E6;
	border-radius: 3px;
	min-height: 300px;
	padding: 10px;
}

.card-nested {
	min-height: 0;
	margin-bottom: 10px;
    padding: 20px;
}

.card-work-experience:last-child {
	margin-bottom: 0;
}

.background-card {
	padding: 10px 20px;
}

.card-wrapper {
	padding: 5px;
}

.profile-pic {
	padding: 20px 0;
}

.text-bolder {
	font-weight: bold;
}

.contact-details .detail {
	display: table;
	padding: 10px 0;
}

.contact-details .detail .icon {
	padding: 0 10px;
	color: #707070;
}

.contact-details .detail .icon, .contact-details .detail .info {
	display: table-cell;
	vertical-align: middle;
}

.contact-details .detail .info{
	font-size: 0.8em;
}

.social-link {
	margin-left: 5px;
}

.social-link:first-child {
	margin-left: 0;
}

.social-link:hover {
	text-decoration: none;
}

.link-github {
	color: #454545;
}

.link-github:hover {
	color: black;
}

.link-twitter {
	color: #33CCFF;
}

.link-blog {
	color: rgb(243, 111, 36);
}

.link-blog:hover {
	color: rgb(211, 97, 32);
}

.background-details .detail {
	display: table;
	padding: 10px 0;
}

.background-details .detail .icon {
	min-width: 45px;
	max-width: 45px;
	text-align: center;
}

.background-details .detail .title, .background-details .detail .icon {
	color: #707070;
}

.background-details .detail .icon, .background-details .detail .info {
	display: table-cell;
	padding: 0 10px;
}

.background-details .detail .info {
	width: 100%;
}

.timeline-circle {
	width: 10px;
	height: 10px;
	border: 2px solid #e2e2e2;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
}

.timeline-content {
	display: inline-block;
	margin-left: 20px;
}

.clear-margin {
    margin: 0;
}

.space-top {
    margin-top: 10px;
}