@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f218wo');
  src:  url('fonts/icomoon.eot?f218wo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f218wo') format('truetype'),
    url('fonts/icomoon.woff?f218wo') format('woff'),
    url('fonts/icomoon.svg?f218wo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e904";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-medium:before {
  content: "\f23a";
}
.icon-heart:before {
  content: "\f004";
}
.icon-book:before {
  content: "\f02d";
}
.icon-linkedin:before {
  content: "\f08c";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-googleplus:before {
  content: "\f0d5";
}
.icon-circle:before {
  content: "\f111";
}
.icon-code:before {
  content: "\f121";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-stackoverflow:before {
  content: "\f16c";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-foursquare:before {
  content: "\f180";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-gratipay:before {
  content: "\f184";
}
.icon-stackexchange:before {
  content: "\f18d";
}
.icon-vimeo:before {
  content: "\f194";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-language:before {
  content: "\f1ab";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-behance:before {
  content: "\f1b5";
}
.icon-spotify:before {
  content: "\f1bc";
}
.icon-soundcloud:before {
  content: "\f1be";
}
.icon-codepen:before {
  content: "\f1cb";
}
.icon-hackernews:before {
  content: "\f1d4";
}
.icon-lastfm:before {
  content: "\f202";
}
.icon-angellist:before {
  content: "\f209";
}
.icon-facebook:before {
  content: "\f230";
}
.icon-meetup .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.icon-meetup .path2:before {
  content: "\e902";
  margin-left: -1.5em;
  color: rgb(240, 1, 1);
}
.icon-meetup .path3:before {
  content: "\e903";
  margin-left: -1.5em;
  color: rgb(3, 3, 3);
}
.icon-blogger:before {
  content: "\e900";
}
.icon-exercism:before {
  content: "\e601";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-googleplus:before {
  content: "\f0d5";
}
.icon-circle:before {
  content: "\f111";
}
.icon-code:before {
  content: "\f121";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-stackoverflow:before {
  content: "\f16c";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-foursquare:before {
  content: "\f180";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-gratipay:before {
  content: "\f184";
}
.icon-stackexchange:before {
  content: "\f18d";
}
.icon-vimeo:before {
  content: "\f194";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-language:before {
  content: "\f1ab";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-behance:before {
  content: "\f1b5";
}
.icon-spotify:before {
  content: "\f1bc";
}
.icon-soundcloud:before {
  content: "\f1be";
}
.icon-codepen:before {
  content: "\f1cb";
}
.icon-hackernews:before {
  content: "\f1d4";
}
.icon-lastfm:before {
  content: "\f202";
}
.icon-angellist:before {
  content: "\f209";
}
.icon-facebook:before {
  content: "\f230";
}
.icon-profile:before {
  content: "\e600";
}
.icon-tools:before {
  content: "\e034";
}
.icon-location:before {
  content: "\e602";
}
.icon-mail:before {
  content: "\e603";
}
.icon-phone:before {
  content: "\e03f";
}
.icon-newspaper:before {
  content: "\e607";
}
.icon-chevron-down:before {
  content: "\e60c";
}
.icon-chevron-up:before {
  content: "\e60d";
}
.icon-dots-three-horizontal:before {
  content: "\e60b";
}
.icon-thumbs-up:before {
  content: "\e604";
}
.icon-trophy:before {
  content: "\e605";
}
.icon-office:before {
  content: "\e606";
}
.icon-clock:before {
  content: "\e60a";
}
.icon-reddit:before {
  content: "\e609";
}
.icon-board:before {
  content: "\e608";
}

