unless _.isEmpty(resume.basics.summary)
  .detail#profile
    .icon
      i.fs-lg.icon-board
      span.mobile-title Profile
    .info
      h4.title.text-uppercase Profile

      .card.card-nested
        .content.mop-wrapper(itemprop="description")!= resume.basics.summary
